<?xml version="1.0" encoding="utf-8"?>
<% var query_string_this = helpers.q({page: parseInt(page), query: query, inspector: inspector, featured: featured}); -%>
<% var query_string_first = helpers.q({page: 1, query: query, inspector: inspector, featured: featured}); -%>
<% var query_string_next = helpers.q({page: parseInt(page) + 1, query: query, inspector: inspector, featured: featured}); -%>
<% var query_string_prev = helpers.q({page: parseInt(page) - 1, query: query, inspector: inspector, featured: featured}); -%>
<% var last_page = Math.max(1, Math.floor((results.hits.total + size - 1) / size)); -%>
<% var query_string_last = helpers.q({page: last_page, query: query, inspector: inspector, featured: featured}); -%>
<feed xmlns="http://www.w3.org/2005/Atom">
<title>Oversight.garden | Collecting the oversight community's work in one place.</title>
<link href="https://oversight.garden/reports?<%= query_string_this %>"/>
<updated><%= new Date().toISOString() %></updated>
<id>https://oversight.garden/reports.xml</id>
<link rel="alternate" type="text/html" hreflang="en" href="https://oversight.garden/reports?<%= query_string_this %>"/>
<link rel="self" type="application/atom+xml" href="https://oversight.garden<%= self_url %>"/>
<link rel="first" href="https://oversight.garden/reports.xml?<%= query_string_first %>"/>
<% if (page > 1) { -%>
<link rel="previous" href="https://oversight.garden/reports.xml?<%= query_string_prev %>"/>
<% } -%>
<% if (results.hits.total > page * size) { -%>
<link rel="next" href="https://oversight.garden/reports.xml?<%= query_string_next %>"/>
<% } -%>
<link rel="last" href="https://oversight.garden/reports.xml?<%= query_string_last %>"/>
<% var hits = results.hits.hits; -%>
<% for (var i = 0; i < hits.length; i++) { -%>
<% var report = hits[i]._source; -%>
<% var highlight = hits[i].highlight; -%>
<% var link = 'https:/' + '/oversight.garden/reports/' + report.inspector + '/' + encodeURIComponent(report.report_id); -%>
<entry>
<id><%= link %></id>
<title><%= report.title %></title>
<link rel="alternate" href="<%= link %>"/>
<author><name><%= helpers.inspector_info(report.inspector).name %></name></author>
<updated><%= report.published_on %>T00:00:00Z</updated>
<% if (highlight && (highlight.text || highlight.summary)) { -%>
<content type="html"><![CDATA[
<% if (highlight.text) { -%>
<%- helpers.strip_ff(highlight.text[0]) %>
<% } else if (highlight.summary) { -%>
<%- helpers.strip_ff(highlight.summary[0]) %>
<% } -%>
]]></content>
<% } -%>
</entry>
<% } -%>
</feed>
